@charset "UTF-8";
/*---
長渕ヘッダー
---*/
.nagaheader {
	font-size:50px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
	webkit-background-clip: text;

	}

.nagaheader h1 {
	font-size: 50px;
	color: purple;
  	font-family: "Rock Salt", cursive;
  	font-weight: 400;
  	font-style: normal;

}

.nagalogin {
	background: linear-gradient(90deg, #b39855 0%, #fff9e6 50%, #b39855 100%);
}

.nagalogout {
	background: linear-gradient(90deg, #b39855 0%, #fff9e6 50%, #b39855 100%);
}

/*流れる画像設定*/
.nagaimg {
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;

    img {
        width: 100vw;
        height: 100%;

        &:first-child {
            animation: slide1 60s -30s linear infinite;
        }

        &:last-child {
            animation: slide2 60s linear infinite;
        }
    }
}

@keyframes slide1 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}


/*プロフィール*/
.prophote{
	display: flex;
	justify-content: center;
	align-items: end;
	font-size: xxx-large;
}





/*---
長渕ページ
---*/
body {
	background-color: black;
}

.naganote {
	color: white;
	text-align: center;
}

.naganote h1 {
		font-size:50px;
}



.biography {
	color: white;
	text-align: center;
	background-color: gray;
}

.naga-btitle {
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 5vw;
	margin-bottom: 20px;
	line-height: 1;
}

.nagaclub{
	font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	webkit-background-clip: text;
}

.nagaphoto2{
	text-align: center;
}



/*今月の長渕*/
.nagabuchi h5 {
	width: 100%;
}

/*--------------
長渕フッター
----------------*/
/*画像とテーブルの横並び設定*/
.nagafooter{
	display: flex;
}

.nagamenu table{
	width: 1032px;;
	height: 200px;
	background-color: gray;
}

.nagamenu tr{
	background-color: gray;
	text-align: left;
}

.nagamenu td{
	text-align: left;
	color: white;
}


/*会社名表示位置*/
.naganaga p{
	text-align: right;
	color: white;
}

