@charset "UTF-8";
/*---
長渕ヘッダー
---*/
.nagaheader {
	font-size:50px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #B67B03 0.1em, #DAAF08 0.2em, #FEE9A0 0.3em, #DAAF08 0.4em, #B67B03 0.5em);
	webkit-background-clip: text;
	}

.nagaheader h1 {
	font-size: 50px;
	color: red;
}

.nagalogin {
	background: linear-gradient(90deg, #b39855 0%, #fff9e6 50%, #b39855 100%);
}

.nagalogout {
	background: linear-gradient(90deg, #b39855 0%, #fff9e6 50%, #b39855 100%);
}

.nagaimg {
	display: flex;
	width: 100vw;
}

.nagaimg img {
	min-width: 50vw;
}

.nagaimg img:first-child {
	animation: loop 50s -25s linear infinite;
}

.nagaimg img:last-child {
	animation: loop2 50s linear infinite;
}


/*---
長渕ページ
---*/
body {
	background-color: black;
}

.naganote {
	color: white;
	text-align: center;
}

.naganote h1 {
	font-size:50px;
}

.nagamenu td {
	color: white;
}

.biography {
	color: white;
	text-align: center;
	background-color: gray;
}

.naga-btitle {
	font-family: 'Heebo', sans-serif;
	font-weight: 500;
	font-size: 5vw;
	margin-bottom: 20px;
	line-height: 1;
}

.nagaclub{
	font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	webkit-background-clip: text;
}

.nagaphoto2{
	text-align: center;
}
