


}

.itemsearch td{
	table-layout: fixed;

}

.btn-1 {
	text-align:center;
}


/*アイテム検索ページの流れる画像設定
※ログインページと画像サイズが違うのでクラス分けてます*/
@keyframes infinity2-scroll-left {
from {
  transform: translateX(0);
}
 to {
  transform: translateX(-100%);
}
}
.scroll-infinity2__wrap {
  display: flex;
  overflow: hidden;
}
.scroll-infinity2__list {
  display: flex;
  list-style: none;
  padding: 0
}
.scroll-infinity2__list--left {
  animation: infinity-scroll-left 20s infinite linear 0.5s both;
}
.scroll-infinity2__item {
  width: calc(70vw / 6);
}
.scroll-infinity2__item>img {
  width: 100%;
  height: 300px;
}

/*-------------------------------
ログインエラーページ
-------------------------------*/
.loginerror {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

/*-------------------------------
⑦マイページ
-------------------------------*/
.mypage {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.mypage table {
	border-collapse: collapse;
	background-image: linear-gradient(40deg, #e2c6ff 0%, #a3d1ff 74%);
	border-radius:25px;
}

.mypagetitle {
	text-align: left;
}
.selectbtn{
	display: flex;
	justify-content: center;
}
.body {
	height: 100px;
}

.mypagetitle {
	background-color: hotpink;
	opacity: 0.5;
	padding: 20px;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	color:black;
}


/*-------------------------------
決済確認画面
-------------------------------*/
.payment {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.payment table tr {
	background-image: linear-gradient(40deg, #e2c6ff 0%, #a3d1ff 74%);
}

.paymenttitle h1{
	background-color: hotpink;
	opacity: 0.4;
	padding: 20px;
	border-radius: 20px;
	color:black;

}


/*-------------------------------
レンタル完了画面
-------------------------------*/
.paymentcomp {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	text-align: center;
}

.paymentcomptitle h1{
	background-color: hotpink;
	opacity: 0.4;
	padding: 20px;
	border-radius: 20px;
	color:black;

}

.fade-in-text {
  position: relative;
  font-size: 30px;
  opacity: 0; /* 初めは透明に設定 */
  transform: translateY(100%); /* 下からスライドするために位置を下に設定 */
  animation: fadeInFromBottom 1s forwards; /* フェードインアニメーションの設定 */
  text-align: center;
}

@keyframes fadeInFromBottom {
  to {
    opacity: 1; /* アニメーション終了時に完全に表示 */
    transform: translateY(0); /* アニメーション終了時の位置 */

  }
}

.disp-img{
    background-image:url(resources/image/お辞儀.png);             /* 画像のURLを指定       */
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */
    width:auto;                                   /* 横幅のサイズを指定    */
    height:400pX;								  /* 縦幅のサイズを指定    */
}
.mako {
	text-align: center;
}

/*-------------------------------
カートコンテンツ
-------------------------------*/



.cartcontent table tr {
	background-image: linear-gradient(40deg, #e2c6ff 0%, #a3d1ff 74%);
}

/*※マイページにも設定適用*/
.center {
	text-align: center;
}

.center h1{
	background-color: hotpink;
	opacity: 0.4;
	padding: 20px;
	border-radius: 20px;
	color:black;
}
.center table{
	margin-left: auto;
    margin-right: auto;
}

.center tr{
	background-image: linear-gradient(40deg, #e2c6ff 0%, #a3d1ff 74%);
}

.center td{
	padding: 10px;
}


/*-------------------------------
カートコンテンツ選択
-------------------------------*/
.cartadd {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.cartadd table tr {
	background-image: linear-gradient(40deg, #e2c6ff 0%, #a3d1ff 74%);
}


/*-------------------------------
カートコンテンツ確認
-------------------------------*/
.cartaddcomp {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.cartaddcomp table tr {
	background-image: linear-gradient(40deg, #e2c6ff 0%, #a3d1ff 74%);
}


/*-------------------------------
登録完了画面
-------------------------------*/
.registrationcomplete h1{
	background-color: hotpink;
	opacity: 0.4;
	padding: 20px;
	border-radius: 20px;

}


.fade-in-text{
  position: relative;
  font-size: 30px;
  opacity: 0; /* 初めは透明に設定 */
  transform: translateY(100%); /* 下からスライドするために位置を下に設定 */
  animation: fadeInFromBottom 1s forwards; /* フェードインアニメーションの設定 */
  text-align: center;

}

.fade-in-text img{
	vertical-align:middle;
}

@keyframes fadeInFromBottom {
  to {
    opacity: 1; /* アニメーション終了時に完全に表示 */
    transform: translateY(0); /* アニメーション終了時の位置 */

  }
}

.disp-img{
    background-image:url(resources/image/お辞儀.png);             /* 画像のURLを指定       */
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */
    width:auto;                                   /* 横幅のサイズを指定    */
    height:400pX;								  /* 縦幅のサイズを指定    */

}
.mako {
	text-align: center;
}


/*--------ここから長渕----------*/

.naganaga {
  background-color: black; //これは赤色
}


@keyframes infinity-scroll-left {
from {
  transform: translateX(0);
}
  to {
  transform: translateX(-100%);
}
}
.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0
}
.scroll-infinity__list--left {
  animation: infinity-scroll-left 20s infinite linear 0.5s both;
}
.scroll-infinity__item {
  width: calc(70vw / 6);
}
.scroll-infinity__item>img {
  width: 100%;
  height: 300px;
}
.nagas{
	text-align: center;
}
.nagass{
	color: white;
	text-align: center;
}
.nagasa{
	font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;

	webkit-background-clip: text;
}
.nn{
text-align: center;

}
.nagab{
	color: white;
	text-align: center;
	background-color: gray;

}
.bi{
font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 5vw;
    margin-bottom: 20px;
    line-height: 1;
}
.f{
background: gray;
text-align: left;

}


