@charset "UTF-8";

/*--------------------------------
項目
共有部分
ヘッダー
フッター
トップページ
ログインページ
商品一覧検索
---------------------------------*/
/*--------------------------------
共通部分
---------------------------------*/
/*ページ設定*/
.page {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

/*共通ボタンの設定*/
.btn-b {
	display: inline-block;
	padding: 0.8em 3em;
	background-color: #369ada; /* 背景色 */
	box-shadow: 0 5px 0 #369ada; /* 影の太さ・色 */
	border-radius: 60px;
	color: #fff;
	cursor: pointer;
	text-decoration: none; /* 文字の下線を消す */
}

/* ホバー時 */
.btn-b:hover {
	box-shadow: none;
	transform: translateY(5px);
}

/*コンテンツメニューボタン共通設定*/
.btn-img:hover{
  opacity: 0.6;
  transition: 0.8s;
}

.btn-img{
	vertical-align:middle;
}

/*画像が左から右に無限に流れる設定*/
/*ログイン画面の流れる音符*/
@keyframes infinity-scroll-left {
	from {
	transform: translateX(0);
	}
	to	{
	transform: translateX(-100%);
	}
}

.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}

.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0
}

.scroll-infinity__list--left {
  animation: infinity-scroll-left 20s infinite linear 0.5s both;
}

.scroll-infinity__item {
  width: calc(70vw / 6);
}

.scroll-infinity__item img {
  width: 100%;
  height: 150px;
}


/*--------------------------------
ヘッダー
---------------------------------*/
/*ロゴ*/
.logotitle a {
	display: flex;
	width: 438px;
	color: inherit;
	text-decoration: none;
}

.logotitle img {
	height: 70px;
	width: 70px;
	margin: 10px 1px 10px 5px;
	boder: 1px;
}

.logotitle h1 {
	font-family: 'Sacramento', cursive;
	font-size: 45px;
	margin: 10px;
	padding: 10px;
	color: gray;
}

/*各種リンク*/
.linkmenu {
	font-family: 'Yomogi',cursive;
	text-align: right;
	font-size: 25px;
}


/*--------------------------------
フッター
---------------------------------*/


/*--------------------------------
トップページ
---------------------------------*/
/*トップページ*/
.topselect a {
	font-family: 'Yomogi',cursive;
	font-size: 25px;
}

/*トップタイトル*/
.loading-area {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.loading-area span {
	color:#61b0e2;
	font-size: 6.5rem;
	font-weight: bold;
	animation: rotate 2s infinite linear;
	text-transform: uppercase;
	}

	letter-spacing:-50px;
	padding-top: 60px;
	padding-bottom: 80px;
}

.loading-area span:nth-child(2) {
	animation-delay: 0.1s;
}

.loading-area span:nth-child(3) {
	animation-delay: 0.2s;
}

.loading-area span:nth-child(4) {
	animation-delay: 0.3s;
}

.loading-area span:nth-child(5) {
	animation-delay: 0.4s;
}

.loading-area span:nth-child(6) {
	animation-delay: 0.5s;
}

.loading-area span:nth-child(7) {
	animation-delay: 0.6s;
}

.loading-area span:nth-child(8) {
	animation-delay: 0.7s;
}

.loading-area span:nth-child(9) {
	animation-delay: 0.8s;
}

.loading-area span:nth-child(10) {
	animation-delay: 0.9s;
}

@keyframes rotate {
	70% {
	transform: rotateX(0deg);
	}
	100% {
	transform: rotateX(360deg);
	}
}

/*トッププラン*/
@keyframes loopplan {
	from {
	transform: translateX(0);
	}
	to {
	transform: translateX(-100%);
	}
}
.loopplan_box {
	display: flex;
	overflow: hidden;
}

.loopplan_list {
	display: flex;
	list-style: none;
	padding: 0;
}

.loopplan_list--left {
	animation: loopplan 100s infinite linear 0.5s both;
}

.loopplan_list_item {
	font-family: Yomogi',cursive;
	color: grey;
	width: calc(900vw / 3);
	font-size: 50px;
}

/*トップセレクト整列*/
.topselect {
	text-align: center;

}

/*トップコンテンツ整列*/
.topcontents  {
	display: flex;
	justify-content: center;
	align-items: center;

}

/*トップコンテンツ枠*/
.topcontents div {
	margin: 2em;
	padding:2em;/*内側余白*/
	background-color:#fff;/*背景色*/
	background-color:rgba(255,255,255,0.8);
	box-shadow: 0 0 6px 1px #66CCFF, 0 0 6px 1px #66CCFF inset;/*ふわりとした影*/
	border-radius: 30px;
	height: 300px;
	width: 500px;


}



/*NEWS*/
.news {
	overflow-y: scroll;
}

.news li {
	font-size: 25px;
}

/*TOPIC*/
.topic {
	overflow-y: scroll;
}

.topic li {
	font-size: 25px;
}

/*insta*/
.insta {
	overflow-y: scroll;
}

.insta {
	font-size: 25px;

}

/*インスタ*/
.instalogin p{
	text-align: center;

}

.instalogin img{
	vertical-align:middle;

}


/*--------------------------------
ログインページ
---------------------------------*/
/*ログイン画面の枠*/
.logintable {
	border-collapse: collapse;
	background-image: linear-gradient(40deg, #e2c6ff 0%, #a3d1ff 74%);
	border-radius:50px;
}




/*--------------------------------
商品検索一覧ページ
---------------------------------*/
/*商品検索要素*/
.itemsearch {
	text-align: center;
