@charset "UTF-8";

/*--------------------------------
項目
共有部分
ヘッダー
---------------------------------*/
/*--------------------------------
共通部分
---------------------------------*/
/*ページ設定*/
.page {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

/*コンテンツメニューボタン共通設定*/
.btn-img:hover{
  opacity: 0.6;
  transition: 0.8s;
}

.btn-img{
	vertical-align:middle;
}
/*--------------------------------
ヘッダー
---------------------------------*/
/*ロゴ*/
.logotitle a {
	display: flex;
	width: 438px;
	color: inherit;
	text-decoration: none;
}

.logotitle img {
	height: 70px;
	width: 70px;
	margin: 10px 1px 10px 5px;
	boder: 1px;
}

.logotitle h1 {
	font-family: 'Sacramento', cursive;
	font-size: 45px;
	margin: 10px;
	padding: 10px;
	color: gray;
}

/*各種リンク*/
.linkmenu {
	font-family: 'Yomogi',cursive;
	text-align: right;
	font-size: 25px;
}

/*--------------------------------
②ヘッダー
---------------------------------*/

/*--------------------------------
トップページ
---------------------------------*/
/*トップページ*/
.topselect a {
	font-family: 'Yomogi',cursive;
	font-size: 25px;
}

/*トップタイトル*/
.loading-area {
	display: flex;
	justify-content: center;
	gap: 100px;
}

.loading-area span {
	color:#61b0e2;
	font-size: 6.5rem;
	font-weight: bold;
	animation: rotate 2s infinite linear;
	text-transform: uppercase;
	}

	letter-spacing:-50px;
	padding-top: 60px;
	padding-bottom: 80px;
}

.loading-area span:nth-child(2) {
	animation-delay: 0.1s;
}

.loading-area span:nth-child(3) {
	animation-delay: 0.2s;
}

.loading-area span:nth-child(4) {
	animation-delay: 0.3s;
}

.loading-area span:nth-child(5) {
	animation-delay: 0.4s;
}

.loading-area span:nth-child(6) {
	animation-delay: 0.5s;
}

.loading-area span:nth-child(7) {
	animation-delay: 0.6s;
}

.loading-area span:nth-child(8) {
	animation-delay: 0.7s;
}

.loading-area span:nth-child(9) {
	animation-delay: 0.8s;
}

.loading-area span:nth-child(10) {
	animation-delay: 0.9s;
}

@keyframes rotate {
	70% {
	transform: rotateX(0deg);
	}
	100% {
	transform: rotateX(360deg);
	}
}
/*トッププラン*/
@keyframes loopplan {
	from {
	transform: translateX(0);
	}
	to {
	transform: translateX(-100%);
	}
}
.loopplan_box {
	display: flex;
	overflow: hidden;
}

.loopplan_list {
	display: flex;
	list-style: none;
	padding: 0;
}

.loopplan_list--left {
	animation: loopplan 100s infinite linear 0.5s both;
}

.loopplan_list_item {
	font-family: Yomogi',cursive;
	color: grey;
	width: calc(900vw / 3);
	font-size: 50px;
}

/*トップセレクト整列*/
.topselect {
	text-align: center;
}

/*トップコンテンツ整列*/
.topcontents  {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*トップコンテンツ枠*/
.topcontents div {
	margin: 2em;
	padding:2em;/*内側余白*/
	background-color:#fff;/*背景色*/
	background-color:rgba(255,255,255,0.8);
	box-shadow: 0 0 6px 1px #66CCFF, 0 0 6px 1px #66CCFF inset;/*ふわりとした影*/
	border-radius: 30px;
	height: 300px;
	width: 500px;
}

/*NEWS*/
.news {
	overflow-y: scroll;
}

.news li {
	font-size: 25px;
}

/*TOPIC*/
.topic {
	overflow-y: scroll;
}

.topic li {
	font-size: 25px;
}

/*insta*/
.insta {
	overflow-y: scroll;
}

.insta {
	font-size: 25px;
}
/*インスタ*/
.instalogin p{
	text-align: center;
}

.instalogin img{
	vertical-align:middle;
}

/*--------------------------------
①ヘッダー部分
---------------------------------*/

/*--------------------------------
①ヘッダー部分
---------------------------------*/