@charset "UTF-8";


/*--------------------------------
全ページ共通
-------------------------------*/



/*--------------------------------
ヘッダー
--------------------------------*/
.logo a {
	display: flex;
	width: 438px;
	color: inherit;
	text-decoration: none;
}

.logo img {
	height: 70px;
	width: 70px;
	margin: 10px 1px 10px 5px;
	boder: 1px;
}

.logo h1 {
	font-family: 'Sacramento', cursive;
	font-size: 45px;
	margin: 10px;
	padding: 10px;
}

.linkpage ,p {
	font-family: 'Yomogi',cursive;
	text-align: right;
	font-size: 25px;
}


/*-------------------------------
フッター
-------------------------------*/
.footer p {
	font-family: 'Yomogi',cursive;
	text-align: right;
}


/*-------------------------------
ログインページ
-------------------------------*/
.loginpage {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;



	min-height: 100vh;

}

.loginpage h2 {
	color: grey;
	background: ;
	font-size:30px;
	border-bottom: solid 5px lightblue;
	border-radius:  5px;
}

.loginpage table {
    margin: 150px auto;
    background-color: violet;
    background-image: linear-gradient(315deg, #f09199 10%, #f6bfbc 70%);
    color: white;
    padding: 2em;
    border-radius: 30px;
    opacity: 0.8;

}



/* ボタン初期
.btn-2 {
	position: relative;
	left: 144px;
}
*/



.btn-2 {
	font-family: 'Yomogi',cursive;
	display       : inline-block;
	border-radius : 50%;          /* 角丸       */
	font-size     : 15pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 14px 26px;   /* 余白       */
	background    : lightblue;     /* 背景色     */
	color         : white;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 7px 7px 8px #666666;  /* 影の設定 */
	border        : 2px solid lightblue;    /* 枠の指定 */
	input　margin : 50　auto ;
	opacity: 0.8;
	font-weight: bold;

}
.btn-5{
	text-align    : center;
}
.btn-2:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : white;     /* 背景色     */
  background-color: steelblue;     /* 文字色     */
}


/*-------------------------------
トップページ
-------------------------------*/
.toppage {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.toppage a {
	font-family: 'Yomogi',cursive;
	font-size: 25px;
}

.title h1 {
	font-family: 'Yomogi',cursive;
	font-size: 80px;
	text-align: center;
}

.topselect {
	text-align: center;
}

.body {
	height: 100px;
}
/*ボタン(後で装飾)*/
input.btn{
	 display: inline-block;
  padding: 0.8em 3em;
  background-color: #e3364a; /* 背景色 */
  box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
/* 青色 */
background-color: #61b0e2;
box-shadow: 0 5px 0 #369ada;
}
/* ホバー時 */
.btn:hover {
  box-shadow: none;
  transform: translateY(5px);
}


	}
input.btn:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 100%;
	content: '';
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: translateX(0) translateY(0);
	transform: translateX(0) translateY(0);
	border-radius: 0 50% 50% 0;
	background: #000;
}

input.btn:hover:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: bold;
	line-height: 30px;
	width: 30px;
	height: 30px;
	content: '\f061';-webkit-transform: translateX(460%) translateY(.5rem);
	transform: translateX(460%) translateY(.5rem);
	color: #fff;
	border-radius: 50%;
}


/*-------------------------------
アイテムサーチページ
-------------------------------*/
.itemsearch {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.btn-1 {
	text-align:center;
}


/*-------------------------------
会員登録ページ
-------------------------------*/
.registration {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

.registration table{
	border-collapse: collapse;
}


.registration h1{
	background-color: hotpink;
	opacity: 0.4;
	padding: 20px;
	border-radius: 20px;
}


/*-------------------------------
決済確認画面
-------------------------------*/

.payment h1{
	background-color: hotpink;
	opacity: 0.4;
	padding: 20px;
	border-radius: 20px;
}



.registration table td {
	border: double;
}


.registrationtitle  {
	background-color: violet;
}
/*-------------------------------
カートコンテンツ
-------------------------------*/
.cartcontent {
	font-family: 'Yomogi',cursive;
	color: grey;
	background-image: url(../image/pink.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}